@import '../../index.scss';

.projects {
    background: $bg-dark;
    .projectsContainer {
        position: relative;
        display: flex;
        justify-content: space-between;
        .viewAll {
            display: flex;
            align-items: center;
            position: absolute;
            top: -40px;
            right: 0;
            color: $accent-color;
            cursor: pointer;
            transition: 200ms ease-in-out;
            svg {
                height: 15px;
                width: 15px;
                fill: $accent-color;
                transition: 200ms ease-in-out;
            }
            &:hover {
                color: azure;
            }
            &:hover svg {
                fill: azure;
            }
        }
    }

    .seeMoreBtn {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        .seeMore {
            width: 300px;
            text-align: center;
        }
    }
}

//phone
@media screen and (max-width: 768px) {
    .projects {
        .projectsContainer {
            flex-direction: column;
        }
    }
}

//tablet
@media screen and (min-width: 769px) and (max-width: 1400px) {
    .projects {
        .projectsContainer {
            flex-wrap: wrap;
        }
    }
}
