@import '../../index.scss';

.singleProjectCard {
    width: 30%;
    background-color: $bg-light;
    padding: 25px 20px 10px 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    .projectImg {
        border-radius: 15px;
        overflow: hidden;
    }
    .projectText {
        //padding: 0 10px;
        .title {
            font-size: 24px;
            padding: 30px 0 15px 0;
        }
        .desc {
            font-size: 16px;
            padding-bottom: 15px;
        }
        .tags {
            display: flex;
            padding-bottom: 15px;
            display: flex;
            flex-wrap: wrap;
            min-height: 97px;
            li {
                max-height: 25px;
                background-color: #43597d;
                color: $text-color;
                font-size: 14px;
                padding-right: 6px;
                border-radius: 3px;
                margin: 5px 10px 10px 0;
                display: flex;
                align-items: center;
                svg {
                    height: 20px;
                    max-width: 30px;
                }
            }
        }

        .buttons {
            padding: 15px 0;
            display: flex;
            justify-content: center;
            .btn:first-child {
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .singleProjectCard {
        width: 100%;
        .projectImg {
            img {
                object-position: top left;
            }
        }
    }
}

// tablet
@media screen and (min-width: 769px) and (max-width: 1400px) {
    .singleProjectCard {
        width: 49%;
        .projectImg {
            img {
                object-position: top left;
            }
        }
    }
}
