@import '../../index.scss';

.about {
    background-color: $bg-light;
    .container {
        display: flex;
        justify-content: space-between;
        .text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 100px;
            .aboutText {
                h3 {
                    font-size: 30px;
                    font-weight: 500;
                    padding-bottom: 30px;
                }
                p {
                    padding-bottom: 30px;
                }
                .link {
                    color: $accent-color;
                    padding-left: 5px;
                    transition: 150ms ease-in-out;

                    &:hover {
                        color: $bg-dark;
                        transition: 150ms ease-in-out;
                    }
                }
            }
        }

        .aboutImg {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            img {
                border-radius: 12px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        .container {
            flex-direction: column;
            .text {
                order: 2;
                padding: 0;
            }
            .aboutImg {
                order: 1;
                margin-bottom: 50px;
            }
        }
    }
}

// tablet
//tablet
@media screen and (min-width: 769px) and (max-width: 1400px) {
    .about {
        .container {
            flex-direction: column;
            .text {
                order: 2;
                padding: 0;
            }
            .aboutImg {
                order: 1;
                width: 50%;
                margin: 0 auto;
                margin-bottom: 50px;
            }
        }
    }
}
