@import '../../index.scss';

.skills {
    padding-top: 10px;
    h3 {
        font-size: 30px;
        font-weight: 500;
        padding: 30px 0;
    }
    .styleCards {
        display: flex;
        .iconCard {
            position: relative;
            width: 50px;
            height: 50px;
            background-color: $bg-dark;
            border: 2px solid $bg-dark;
            margin-right: 10px;
            padding: 5px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 1;
            transition: 400ms ease-in-out;
            svg {
                width: 45px;
                height: 45px;
            }
            p {
                opacity: 0;
                font-size: 13px;
                font-weight: 500;
                background: #ffffff98;
                color: #000;
                padding: 1px 3px;
                border-radius: 3px;
                position: absolute;
                bottom: -28px;
                left: 50%;
                transform: translate(-50%);
                transition: 200ms ease-in-out;
            }
            &:hover {
                border: 2px solid $accent-color;
                transition: 400ms ease-in-out;
            }
            &:hover p {
                opacity: 0.7;
                transition: 200ms ease-in-out;
                transition-delay: 400ms;
            }

            // nextjs icon bg
            div {
                position: absolute;
                top: 25%;
                left: 50%;
                transform: translate(-50%);
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background-color: #fff;
                content: '';
                z-index: -1;
            }
        }
    }
}
