@import '../index.scss';

.notFound {
    background: $bg-light;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
        padding-bottom: 50px;
    }
    p {
        padding-bottom: 10px;
    }
    a {
        color: $accent-color;
    }
}

@media screen and (max-width: 769px) {
    .notFound {
        align-items: flex-start;
        text-align: start;
        h2 {
            font-size: 32px;
        }
        p {
            padding-bottom: 25px;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1399px) {
    .notFound {
        text-align: center;
    }
}
