@import '../index.scss';

.projectsPage {
    background-color: $bg-dark;
    padding-top: 150px;
    min-height: 100vh;
    .progressBar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 1.01px;
        height: 10px;
        background: $accent-color;
        transform-origin: 0%;
    }
}

//phone
@media screen and (max-width: 767px) {
    .projectsPage {
        .progressBar {
            width: 0.2px;
        }
    }
}

// tablet
@media screen and (min-width: 769px) and (max-width: 1400px) {
    .projectsPage {
        .progressBar {
            width: 0.7px;
        }
    }
}
