@import '../../index.scss';

.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(252deg, #43597d 0%, #2a3140 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    .h1 {
        display: none;
    }
    svg.text {
        fill: transparent;
        stroke: $text-color;
        stroke-width: 1.5px;
        width: 70%;
        height: 100%;
        .span {
            stroke: $accent-color;
        }
    }
    .scroll {
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translate(-50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
        animation: down 2s infinite ease-out;
        svg {
            fill: $accent-color;
            width: 45px;
            height: 45px;
        }
    }
}
// scroll animation

@keyframes down {
    0% {
        bottom: 35px;
    }
    20% {
        bottom: 20px;
    }
    40% {
        bottom: 35px;
    }
}

// phone
@media screen and (max-width: 768px) {
    .hero {
        .h1 {
            display: block;
            color: $text-color;
            font-size: 20px;
            text-align: start;
        }
        svg.text {
            display: none;
            width: 100%;
        }
    }
}

// tablet
@media screen and (min-width: 769px) and (max-width: 1400px) {
    .hero {
        svg.text {
            width: 80%;
        }
    }
}
