@import '../../index.scss';

.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(252deg, #43597d 0%, #2a3140 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    h1 {
        font-size: 66px;
        font-family: 'Roboto', sans-serif;
        color: transparent;
        -webkit-text-stroke: 1.5px $header-color;
        .heroText {
            -webkit-text-stroke: 1.5px $accent-color;
        }
    }
    .scroll {
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translate(-50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
        animation: down 2s infinite ease-out;
        svg {
            fill: $accent-color;
            width: 45px;
            height: 45px;
        }
    }
}
// scroll animation

@keyframes down {
    0% {
        bottom: 35px;
    }
    20% {
        bottom: 20px;
    }
    40% {
        bottom: 35px;
    }
}

// phone
@media screen and (max-width: 768px) {
    .hero {
        h1 {
            font-size: 40px;
            text-align: center;
            -webkit-text-stroke: 1px $header-color;
            .heroText {
                display: inline-block;
                -webkit-text-stroke: 1px $accent-color;
            }
            &:last-child {
                padding-top: 20px;
            }
        }
    }
}

// tablet
@media screen and (min-width: 769px) and (max-width: 1400px) {
    .hero {
        h1 {
            font-size: 54px;
            text-align: center;
        }
    }
}
