@import '../../index.scss';

.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    min-height: 60px;
    width: 1320px;
    border-radius: 12px;
    padding: 0 20px;
    background-color: rgba(42, 49, 64, 0.9);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    .logo {
        width: 45px;
        display: flex;
        cursor: pointer;
        transition: 400ms ease;
    }
    .burgerMenu {
        display: flex;
        fill: $text-color;
        visibility: hidden;
        svg {
            height: 30px;
            width: 30px;
        }
    }
    .navLinks {
        display: flex;
        align-items: center;
        a {
            margin-left: 30px;
            color: $text-color;
            cursor: pointer;
            transition: 150ms ease-in-out;
            &:hover {
                color: $accent-color;
                transition: 150ms ease-in-out;
            }
        }
    }
}

// phone
@media screen and (max-width: 768px) {
    .navbar {
        width: 350px;
        .burgerMenu {
            visibility: visible;
            cursor: pointer;
        }
        .navLinks {
            position: absolute;
            top: -20px;
            right: 50%;
            transform: translate(50%);
            justify-content: space-around;
            background: $bg-dark;
            flex-direction: column;
            width: 105vw;
            height: 100vh;
            clip-path: circle(50px at 100% -10%);
            pointer-events: none;
            z-index: -1;
            transition: 1s ease-in-out;
            li {
                a {
                    margin: 0;
                }
            }
            &.visible {
                clip-path: circle(1200px at 100% -3%);
                pointer-events: auto;
                transition: 1s ease-in-out;

                li {
                    visibility: visible;
                }
            }
        }
        .hidden {
            opacity: 0;
            transition: 400ms ease-out;
        }
    }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .navbar {
        width: 750px;
        .burgerMenu {
            visibility: visible;
            cursor: pointer;
        }
        .navLinks {
            position: absolute;
            top: -20px;
            right: 50%;
            transform: translate(50%);
            justify-content: space-around;
            background: $bg-dark;
            flex-direction: column;
            width: 110vw;
            height: 100vh;
            clip-path: circle(50px at 100% -10%);
            pointer-events: none;
            z-index: -1;
            transition: 1s ease-in-out;
            li {
                visibility: hidden;
                a {
                    margin: 0;
                }
            }
            &.visible {
                clip-path: circle(2000px at 100% -3%);
                pointer-events: auto;
                transition: 1s ease-in-out;

                li {
                    visibility: visible;
                }
            }
        }
        .hidden {
            opacity: 0;
            transition: 400ms ease-out;
        }
    }
}
// other
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .navbar {
        width: 1150px;
    }
}
