@import '../../index.scss';

.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(42, 49, 64, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1320px;
    border-radius: 12px;
    padding: 0 30px;
    margin: 0 auto;
    min-height: 60px;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px -1px;
    z-index: 5;
    .logo {
        display: flex;
        cursor: pointer;
        img {
            width: 45px;
        }
    }
    .burgerMenu {
        display: none;
    }
    .navLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            margin-left: 30px;
            cursor: pointer;
            a {
                color: $text-color;
                transition: 150ms ease-in-out;
                &:hover {
                    color: $accent-color;
                    transition: 150ms ease-in-out;
                }
            }
        }
    }
    &.bgLight {
        background: $bg-light;
    }
    &.bgDark {
        background: $bg-dark;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 350px;
        overflow: hidden;

        .burgerMenu {
            display: flex;
            cursor: pointer;
            svg {
                width: 30px;
                height: 30px;
                fill: $text-color;
            }
        }
        .navLinks {
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translate(-50%);
            width: 105vw;
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: $bg-dark;
            backdrop-filter: blur(10px);

            opacity: 0;
            z-index: -1;
            li {
                margin: 0;
            }
        }
        &.overflowHidden {
            overflow: hidden;
        }
        &.overflowVisible {
            overflow: visible;
        }
        .hidden {
            opacity: 0 !important;
        }
        .show {
            opacity: 1 !important;
        }
    }
}

// tablet
@media screen and (min-width: 769px) and (max-width: 1199px) {
    .navbar {
        width: 750px;
        overflow: hidden;

        .burgerMenu {
            display: flex;
            cursor: pointer;
            svg {
                width: 30px;
                height: 30px;
                fill: $text-color;
            }
        }
        .navLinks {
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translate(-50%);
            width: 105vw;
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: $bg-dark;
            backdrop-filter: blur(10px);

            opacity: 0;
            z-index: -1;
            li {
                margin: 0;
            }
        }
        &.overflowHidden {
            overflow: hidden;
        }
        &.overflowVisible {
            overflow: visible;
        }
        .hidden {
            opacity: 0 !important;
        }
        .show {
            opacity: 1 !important;
        }
    }
}
// other
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .navbar {
        width: 1150px;
    }
}
